{% extends "EcommerceApp/base.html" %}   <!-- Hereda del pader (base.html) -->

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <form method="POST" action="" style="color: white;"> 
            {% csrf_token %}
            <div style="width: 30%; margin: auto; text-align: center">
                <br>
                {% if messages %}
                    {% for error in messages %}
                        <span class="alert alert-{{error.tags}}">
                            {{error}}
                        </span>
                    {% endfor %}
                {% endif %}
                <br><br>
                {{form|crispy}}
                <button type="submit" class="btn btn-success">
                    Login
                </button>
            </div>
        </form>
            
    </div>
{% endblock %}