{% extends "EcommerceApp/base.html" %}   <!-- Hereda del pader (base.html) -->

{% load static %}

{% block content %}
    
    {% for Servicio in Servicios %}

        <section class="page-section clearfix">
            <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{Servicio.Imagen.url}}" alt="" style="width: 50%;">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4" >
                    <span class="section-heading-upper">{{Servicio.NombreServicio}}</span>
                </h2>
                <p class="mb-3">{{Servicio.ContenidoServicio}}
                </p>
                
                </div>
            </div>
            </div>
        </section>

        {% comment %} <div> 
            <p> 
                <h2 style="color: white;">
                    {{Servicio.NombreServicio}}
                </h2>
                <p style="color: white;">
                    {{Servicio.ContenidoServicio}}
                </p>
                <p>
                    <img src="{{Servicio.Imagen.url}}">
                </p>
            </p>
        </div> {% endcomment %}

    {% endfor %}     

{% endblock %}